.OuterContainer {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: -1px;
  margin-right: -1px;

}
.userAvatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 16px;
}

.username{
    float: right;
    left: -450px;
    position: relative;

 }

.posts {
  width:100%;
}

.comments_user{
    padding: 5px 10px 14px 3px;
    font-weight: bold;
}

.numbers_likes {
  font-weight: bold;
}
