<style>
  .container {
    max-width: 600px;
  }
</style>

    <article class="OuterContainer">
      <header class="header">
        <img class="userAvatar" src="https://scontent.cdninstagram.com/t51.2885-19/10684210_1481121675505741_325582781_a.jpg">
       <div class="username">
         <a class="a" href="">{{post.user}}</a>
          <div>
            <a class="b" href="">{{post.location}}</a>
          </div>
       </div>
      </header>
        <div>
          <img class="posts" ng-src="{{post.img}}" alt="">
        </div>
        <div class="likeIcon">
          <i class="fa fa-heart-o fa-2x" aria-hidden="true"  ng-click=incrementLikes()></i>
          <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
        </div>
       <div class="numbers_likes">{{post.likes}} likes</div>
       <div class="comments" ng-repeat="comment in post.comments"><span class="comments_user">{{comment.userName}}</span>{{comment.message}}</div>
       <hr>
       <input ng-keyup="$event.keyCode == 13 && addComment()" ng-model="newComment" placeholder="Add a Comment..."/>
    </article>
